@use '../abstracts/variables' as *;

body.ownlist .fa-solid {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
}

/*
 * 1. Get mask image
 * 2. Get icon aspect-ratio
 *    Icon aspect-ratio = icon size × aspect ratio
 * 3. Put the icon as a mask
 */

#search-button,
#show-stats-button,
#advanced-options-button,
.floatRightHeader {
    >.fa-solid:before {
        content: "";
        display: inline-block;
        background-color: currentColor;
        height: $icon-size;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: auto 100%;
    }
}

#search-button>.fa-solid:before {
    mask-image: $icon-search-url;
    aspect-ratio: $icon-search-ratio;
}

#advanced-options-button>.fa-solid:before {
    mask-image: $icon-filter-url;
    aspect-ratio: $icon-filter-ratio;
}

#show-stats-button>.fa-solid:before {
    mask-image: $icon-stats-url;
    aspect-ratio: $icon-stats-ratio;
}

.floatRightHeader>.fa-solid:before {
    mask-image: $icon-chevron-right-url;
    aspect-ratio: $icon-chevron-right-ratio;
}