* {
    box-sizing: border-box;
    min-width: 0;
}

body {
    min-height: 100vh;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

ul, ul {
    list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}