@use '../abstracts/index' as *;
@use 'sass:math';

.cover-block {
    width: 100%;
    max-width: $content-max-width;
    height: 160px;
    
    @media (min-width: 576px) {
        height: 200px;
    }
    
    @media (min-width: 768px) {
        height: 250px;
    }
    
    @media (min-width: 992px) {
        height: 300px;
    }
}

.cover-block .image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.cover-block .image-container #cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-block .image-container .btn-list-setting,
.cover-block .image-container .btn-list-setting:hover,
.cover-block .image-container:hover .btn-list-setting {
    position: absolute;
    display: block;
    bottom: $space-4;
    right: $page-padding;
    border-radius: $border-radius-full;
    padding: $space-2;
}

.cover-block .image-container .btn-list-setting:hover .text,
.cover-block .image-container .btn-list-setting .text {
    display: none;
}

.cover-block .image-container .btn-list-setting {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    line-height: 1rem;
}

.cover-block .image-container .btn-list-setting > * {
    height: fit-content;
}

.cover-block .image-container:hover .btn-list-setting {
    opacity: 1;
}