@use '../abstracts/index' as *;

.cover-block {
    width: 100%;
    max-width: $content-max-width;
    aspect-ratio: 15 / 4;
}

.cover-block .image-container {
    position: relative;
    width: 100%;
    height: 100%;

    #cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .btn-list-setting, .btn-list-setting:hover,
    &:hover .btn-list-setting {
        position: absolute;
        top: $space-4;
        right: $page-padding;
        opacity: 0;
        transition: all .25s ease-in-out;
    }

    &:hover {
        .btn-list-setting {
            opacity: 1;
        }
    }
}