@use '../abstracts/variables' as *;
@use '../themes/theme-variables' as *;

.status-menu-container .status-menu,
.list-menu-float {
    height: 0;
    transition: all 0.5s ease-in-out;
    border-radius: $border-radius-sm;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.status-menu-container .status-menu .status-button,
.list-menu-float .icon-menu:not(.profile, .setting),
.list-menu-float .icon-menu.setting .text .link-list-setting,
.list-menu-float .icon-menu.setting:hover .text .link-list-setting,
.list-menu-float .icon-menu.setting .text .link-style-setting,
.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
    border-radius: $border-radius-sm;
    padding-inline: $space-3;
    margin-inline: $dropdown-padding;
    height: $dropdown-item-height;
    display: flex;
    align-items: center;
}

.status-menu-container .status-menu .status-button.all_anime,
.list-menu-float .icon-menu.quick-add {
    margin-top: $dropdown-padding;
}

.status-menu-container .status-menu .status-button.plantowatch,
.list-menu-float .icon-menu.setting {
    margin-bottom: $dropdown-padding;
}