@use '../../../core/sass/abstracts/variables' as core;
@use '../components/dropdown' as *;
@use '../abstracts/index' as *;
@use 'sass:math';

.status-menu-container,
.list-unit .list-status-title {
    display: flex;
    height: $list-toolbar-height;
}

.status-menu-container .search-container,
.list-unit .list-status-title .stats {
    height: 100%;
}

// List toolbar | Status menu

.status-menu-container, .status-menu-container.fixed {
    position: sticky;
    display: flex;
    z-index: 2;
    width: 100%;
    max-width: $content-max-width;
    top: $header-height;
}

.status-menu-container .status-menu {        
    margin-left: $space-1;
    
    // Search
    .search-container {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;

        #search-box {
            display: none
        }

        &:after {
            content: 'FiltersStats';
            padding-right:  calc(23 / 16 * core.$icon-size + 2 * $icon-text-gap + 4 * $page-padding);
            visibility: hidden;
            
        }
    }
}

#list-container {
    #search-button,
    #show-stats-button,
    #advanced-options-button {
        display: flex;
        padding: 0 $page-padding;
        gap: $icon-text-gap;
        align-items: center;
        height: 100%;
        pointer-events: auto;
    
        &:hover {
            background-color: rgba(255, 255, 255, .1);
        }
    }
}

// Filters | Stats
    
#list-container .list-status-title {
    position: sticky;
    top: $header-height;
    z-index: 2;
    align-self: flex-end;
    margin-top: $list-toolbar-height * -1;
    
    .text {
        display: none;
    }
    
    .stats {
        display: flex;
    }
    
    #show-stats-button {
        order: 1;
    }
    
    #show-stats-button,
    #advanced-options-button {
        &:hover {
            background-color: rgba(255, 255, 255, .1);
        }
    }
}