@use '../abstracts/index' as *;

.list-unit .list-stats {
    display: none;
    width: min(100%, $content-max-width);
    padding: $space-2 $page-padding;
    text-align: center;
    @extend %text-sm;
    
    /* More stats link */

    .floatRightHeader {
        text-transform: lowercase;
        
        &:before {
            content: '...';
        }
    }
}

.status-menu-container.fixed + .list-block .list-unit .list-stats {
    position: fixed;
    top: $header-height + $list-toolbar-height;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
}