@use '../abstracts/index' as *;
@use 'sass:math';

.list-menu-float {
    position: fixed;
    top: $header-height + $space-1;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border-radius: $border-radius-sm;
    min-width: 192px;
    height: 0;
    right: max(0px, (100% - $content-max-width) / 2);
    margin-right: $space-1;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);

    &:hover {
        height: 9 * $dropdown-item-height + 2 * $dropdown-padding;
    }

    &>* {
        min-height: 0;
        overflow: hidden;
    }
}

.list-menu-float .icon-menu.profile {
    position: fixed;
    top: calc(($header-height - $avatar-size) / 2);
    right: max(0px, (100% - $content-max-width) / 2);
    margin-right: $page-padding;
    background-size: 0px;
    pointer-events: none;
    height: calc(($avatar-size + $header-height) / 2 + $space-1);

    &:before {
        content: '';
        display: block;
        width: $avatar-size;
        aspect-ratio: 1 / 1;
        background: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100%;
        pointer-events: auto;
    }

    &:hover {
        pointer-events: auto;
    }
}

.list-menu-float .icon-menu {
    &:not(.profile, .setting),
    &.setting .text .link-list-setting,
    &.setting:hover .text .link-list-setting,
    &.setting .text .link-style-setting,
    &.setting:hover .text .link-style-setting {
        display: flex;
        gap: 0.75rem;
        align-items: center;
        margin-inline: $dropdown-padding;
        padding: 0 $dropdown-padding;
        height: $dropdown-item-height;
        border-radius: $border-radius-sm;
    }

    &.quick-add {
        margin-top: $dropdown-padding;
    }

    &.setting {
        margin-bottom: $dropdown-padding;
    }

    .icon {
        display: none;
    }
}