@use 'sass:math';

$base-url: 'https://eluvies.github.io/mal-themes/core/assets';
$base-icons-url: '#{$base-url}/icons/';
$base-logos-url: '#{$base-url}/logos/';

// Icons

$icon-size: 1em * math.div(16, 14);

$icon-search-url: url('#{$base-icons-url}search.svg');
$icon-chevron-right-url: url('#{$base-icons-url}chevron-right.svg');
$icon-stats-url: url('#{$base-icons-url}stats.svg');
$icon-filter-url: url('#{$base-icons-url}filter.svg');
$icon-star-url: url('#{$base-icons-url}star.svg');
$icon-chevron-down-url: url('#{$base-icons-url}chevron-down.svg');
$icon-history-url: url('#{$base-icons-url}history.svg');
$icon-logout-url: url('#{$base-icons-url}logout.svg');
$icon-manga-list-url: url('#{$base-icons-url}manga-list.svg');
$icon-anime-list-url: url('#{$base-icons-url}anime-list.svg');
$icon-history-url: url('#{$base-icons-url}history.svg');
$icon-logout-url: url('#{$base-icons-url}logout.svg');
$icon-list-settings-url: url('#{$base-icons-url}list-settings.svg');
$icon-style-settings-url: url('#{$base-icons-url}style-settings.svg');
$icon-export-url: url('#{$base-icons-url}export.svg');

$icon-search-ratio: math.div(12, 16);
$icon-chevron-right-ratio: math.div(6, 16);
$icon-stats-ratio: math.div(11, 16);
$icon-filter-ratio: math.div(12, 16);
$icon-star-ratio: math.div(14, 16);
$icon-chevron-down-ratio: math.div(10, 16);
$icon-manga-list-ratio: math.div(12, 16);
$icon-anime-list-ratio: math.div(16, 16);
$icon-history-ratio:math.div(16, 16);
$icon-logout-ratio:math.div(14, 16);
$icon-list-settings-ratio:math.div(16, 16);
$icon-style-settings-ratio:math.div(12, 16);
$icon-export-ratio: math.div(14, 16);


// Logos

$mal-logo-mark-url: url('#{$base-logos-url}mal-logo-mark.svg');
$mal-logo-mark-ratio: math.div(128, 59);