body.ownlist:not(.classic-ownlist) {
    --dropdown-menu-background-color: var(--color-surface-4);
    --dropdown-item-hover-background-color: var(--color-surface-3);
    --dropdown-item-separator-background-color: var(--color-surface-1);
    background-color: hsl(var(--color-background)) !important;
}

// Header 

.header:before {
    background-color: hsl(var(--color-primary));
}

// List

.list-block {
    background-color: hsl(var(--color-surface-5));
}

// List cover image

.cover-block .image-container .btn-list-setting {
    background-color: hsl(var(--color-surface-4));
}

.cover-block .image-container .btn-list-setting:hover {
    background-color: hsl(var(--color-surface-3));
}

// List Toolbar

.list-unit .list-stats {
    color: hsl(var(--color-on-surface-secondary));
    background-color: hsl(var(--color-surface-5));
}

.list-unit .list-stats .floatRightHeader:hover {
    color: hsl(var(--color-on-surface-hover));
}

.status-menu-container {
    background-color: hsl(var(--color-surface-4));
}

// Footer

footer {
    background-color: hsl(var(--color-surface-5));
}

#recaptcha-terms {
    color: hsl(var(--color-on-surface-secondary));
    
    a:hover {
        color: hsl(var(--color-on-surface-hover));
    }
}