@use '../abstracts/index' as *;

footer {
    margin-top: $space-3;
}

#footer-block {
    text-align: center;
    padding: $space-4 $page-padding;
    width: 100% !important;
    max-width: $content-max-width;
    margin: 0 auto;
}

#copyright {
    @include text-sm;
}

#recaptcha-terms {
    @include text-xs;
}

#copyright + #recaptcha-terms {
    margin-top: $space-1;
}