@use '../../../core/sass/abstracts/variables' as *;
@use '../abstracts/index' as *;
@use 'sass:math';

.header {
    position: sticky;
    width: 100%;
    max-width: $content-max-width;
    top: 0;
    margin: 0 auto;
    z-index: 3;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $page-padding;
    gap: $space-4;

    // Header background

    &:before {
        content: '';
        position: fixed;
        z-index: -1;
        display: block;
        width: 100%;
        height: $header-height;
        top: 0;
        left: 0;
    }
}

// Header logo

.header .header-title {
    line-height: 0;
    font-size: 0;
    min-width: fit-content;

    &:before {
        content: '';
        display: block;
        height: $header-logo-height;
        aspect-ratio: $mal-logo-mark-ratio;
        background-color: white;
        mask-image: $mal-logo-mark-url;
        mask-repeaT: no-repeat;
        mask-position: center;
    }
}

// Header right

.header .header-menu {
    position: relative;
    display: flex;
    align-items: center;
    order: 1;
    margin-right: $avatar-size + $space-4;
}

.header .header-menu .btn-menu {
    text-align: right;
}

.header .header-info,
.list-menu-float  {
    position: fixed;
    z-index: 3;
    top: 0;
}

