@use '../../../core/sass/abstracts/variables' as *;
@use '../abstracts/index' as *;
@use 'sass:math';

.header {
    position: sticky;
    width: min(100%, $content-max-width);
    top: 0;
    margin: 0 auto;
    z-index: 3;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $page-padding;

    // Header background

    &:before {
        content: '';
        position: fixed;
        z-index: -1;
        display: block;
        width: 100%;
        height: $header-height;
        top: 0;
        left: 0;
    }
}

// Header logo

.header .header-title {
    line-height: 0;
    font-size: 0;

    &:before {
        content: '';
        display: block;
        height: $header-logo-height;
        aspect-ratio: $mal-logo-mark-ratio;
        background-color: white;
        mask-image: $mal-logo-mark-url;
        mask-repeaT: no-repeat;
        mask-position: center;
    }
}

// Header text

.header .header-menu {
    order: 1;

    &:not(.other) {
        padding-right: $space-4;
        margin-right: $avatar-size;
    }
}