@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

#advanced-options {
    display: none;
}

.list-container {
    max-width: $content-max-width;
    margin: 0 auto;
}

.list-block {
    position: relative;
}

.list-unit {
    display: flex;
    flex-direction: column;   
}

.list-table {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: $space-4;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    padding: $space-4 $page-padding;
    
    @include responsive-list-grid-columns;
}

.list-table tbody:first-of-type {
    display: none;
}


